<% content_for :title, "Your Cart" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h2 class="font-bold text-2xl mb-4">Your Cart</h2>

  <ul>
    <%= render @cart.line_items %>
  </ul>

  <div class="mt-4 font-bold text-lg">
    Total: <%= number_to_currency(@cart.total_price) %>
  </div>

  <div class="mt-6">
    <%= button_to "Empty cart", @cart,
      method: :delete,
      form_class: "inline-block",
      class: "rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer",
      data: { turbo_confirm: "Are you sure you want to empty your cart?" } %>

    <%= link_to "Continue Shopping", store_index_path,
      class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  </div>
</div>
